$primary: #52238d;
$white: #ffffff;
$primary-hover: #3c0c6f;
$primary-border-hover: #9747ff;

$black: #090517;
$black-1: #1f132f23;

$gray-8: #4b4d5a;
$gray-7: #5d5f6b;
$gray-6: #7f818f;
$gray-5: #a0a2ae;
$gray-4: #cdcdd6;
$gray-9: #e6eeff;
$gray-3: #e4e4eb;
$gray-2: #f1f1f4;
$gray-1: #f9f9fa;

$purple-8: #270250;
$purple-7: #3c0c6f;
$purple-6: #52238d;
$purple-5: #6938a9;
$purple-4: #9567cf;
$purple-3: #c3a1ee;
$purple-2: #e1caff;
$purple-1: #f7efff;

$blue-4: #e6eeff;
$blue-3: #032671;
$blue-2: #1c5ce4;
$blue-1: #e5eeff;

$green-3: #005824;
$green-2: #12a44d;
$green-1: #ddfae7;

$yellow-3: #544201;
$yellow-2: #dcac04;
$yellow-1: #fff8e0;

$red-4: #ED1F24;
$red-3: #770113;
$red-2: #cb213b;
$red-1: #ffe5e9;

$brand-gradient: linear-gradient(225.32deg, #24ff42 -49.49%, #240742 67.76%);
$brand-green: #24ff42;
$brand-purple: #240742;
$brand-black-light: #09051708;

$tabs-active: #090517;
$shadow: #1f132f24;