.eachList{
    background-color: white;
    margin-top: 1%;
    box-shadow: 5px 5px 16px rgba(121, 121, 121, 0.25);
    height: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
    cursor: pointer;
    transition-duration: .32s;
}
.wrapper{
    display: flex;
    flex-direction: column;
}