.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    .card{
        margin-top: 2%;
        width: 20%;
        border-radius: 10px;
        box-shadow: 5px 5px 16px rgba(121, 121, 121, 0.25);
    }
   
}
.pagination{
    display: flex;
    justify-content: center !important;
    margin-top: 4% !important;
    margin: 0 auto;
}

.listItem{
    margin-top: 1%;
    border-radius: 10px;
    box-shadow: 5px 5px 16px rgba(121, 121, 121, 0.25);
    background-color: white;
}
.list{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.infoItems{
    display: flex;
    flex-direction: column;
}