.createAdminBlock{
    width: 30%;
    margin: 0 auto;
    background-color: white;
    height: auto;
    padding: 3% 2%;
    text-align: center;
    box-shadow: 5px 5px 16px rgba(121, 121, 121, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}