.image {
    width: 200px !important;
    height: 20%;
    object-fit: contain;
    >.img {
        object-fit: contain;
        width: 250px;
    }
}
.wrapper {
    justify-content: flex-start;
    display: flex;
    gap: 8%;
}
.info {
    width: 80%;
}
.card {
    width: 25%;
    box-shadow: 5px 5px 16px rgba(121, 121, 121, 0.25);
    transition-duration: .32s;
    border-radius: 10px;
}
.card:hover {
    box-shadow: 15px 15px 16px rgba(121, 121, 121, 0.25);

}
.pagination {
    margin-top: 5%;
    text-align: center;
}
.empty{
    text-align: center;
}